body{
	background-color: #e5e5e5;
	font-family: arial;

}
header{
	height:100px;
	background-color: #dd9f33;
	
}
.header{
	width: 1200px;
	margin: 0 auto;
}

.header-cont{
	float:left;
}
.header-cont ul li{
	float:left;
	list-style: none;
}
.header-cont ul li a{
	padding left: 20px; 
	text-transform: uppercase;
	color:#000;
	text-decoration: none;
	font-weight: bold;
	font-size: 13px;
/*}	*/


}

}
.one{
	margin:0 auto;
}
.content{
	width: 1200px;
	background: white;
	margin: 0 auto;
	min-height:500px;
	padding: 60px;
	overflow: auto;

}
/*.nozz img {*/
	margin-right: 60px;
	margin-bottom: 60px;
	float: left;
}
/*.nozz p{*/
	line-height: 1.5em;
	font-size: 16px;

}	

.content.love{
	float: left;
	padding-right: 50px;
	 

}
/*.content h1{*/
	margin: 0 0 14px 0;
	padding: 0;
	color: #474747;
}
/*.content h4{*/
	margin:20px 20px;
	padding:0px;
	color: #505050;
		
}
.content p{
	font-size: 12px;
	line-height: 1.5em;

}
.content.thumbs{
	float: left;

}
.thumb1{
	/*padding-*/
	float: left;
	padding-right: 40px;
}
.thumb2{
	padding-left: 35px;
}
.thumb3{
	padding-left: 40px
}
footer{
	font-size: 12px;
	text-align: center;
	color: #444;
	padding-top: 20px;
	padding-bottom: 100px;
}